/*drupal IE 8 specific styles*/

/*styles for profile pages*/
 .profile-image{
    float: right;
    width:350px;
  }
  
   .int-ouFooter .small-print{
   padding-left: 12em;
   
  }
  
body.ou-df-ia-about.wls .int-primary .int-secondlevel-nav ul li.int-nav-active{
  background: none repeat scroll 0 0 #E699AD;
}

body.ou-df-ia-about.sct .int-primary .int-secondlevel-nav ul li.int-nav-active{
  background: none repeat scroll 0 0 #A6D0FF;
}

body.ou-df-ia-about.nir .int-primary .int-secondlevel-nav ul li.int-nav-active{
  background: none repeat scroll 0 0 #D0B3C1;
}

body.ou-df-ia-about.ire .int-primary .int-secondlevel-nav ul li.int-nav-active{
  background: none repeat scroll 0 0 #D0B3C1;
}