/*drupal specific styles*/

body.ire .int-primary .int-toplevel-nav ul li.int-nav-active {
  background: none repeat scroll 0 0 #A01851 !important;
  color: #fff !important;
}

.int-primary .int-toplevel-nav ul li.int-nav-active a {
  color: #fff;
}

body.ire .int-primary .int-secondlevel-nav ul li.int-nav-active a {
  background: none repeat scroll 0 0 #E0CCD6 !important;
  color: #000000 !important;
}

body.ou-df-ia-about.ire div.int-primary .int-secondlevel-nav li.ou-df-ia-about.int-nav-active a {
  background-color: #E0CCD6 !important;
  color: #000000 !important;
}




body.wls .int-primary .int-toplevel-nav ul li.int-nav-active {
  background: none repeat scroll 0 0 #D01418 !important;
  color: #fff !important;
}

.int-primary .int-toplevel-nav ul li.int-nav-active a {
  color: #fff;
}

body.wls .int-primary .int-secondlevel-nav ul li.int-nav-active a {
  background: none repeat scroll 0 0 #F3CCD6 !important;
  color: #000000 !important;
}

body.ou-df-ia-about.wls div.int-primary li.ou-df-ia-about.int-nav-active a {
  background-color: #F3CCD6 !important;
  color: #000000 !important;
}



/*drupal specific styles*/

body.sct .int-primary .int-toplevel-nav ul li.int-nav-active {
  background: none repeat scroll 0 0 #0065BD !important;
  color: #fff !important;
}

.int-primary .int-toplevel-nav ul li.int-nav-active a {
  color: #fff;
}

body.ou-df-ia-about.sct div.int-primary .int-toplevel-nav li.ou-df-ia-about a {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}

body.sct .int-primary .int-secondlevel-nav ul li.int-nav-active a {
  background: none repeat scroll 0 0 #D4E8FF !important;
  color: #000000 !important;
}

body.ou-df-ia-about.sct div.int-primary li.ou-df-ia-about.int-nav-active a {
  background-color: #D4E8FF !important;
  color: #000000 !important;
}






