/*drupal IE 8 specific styles*/

/*styles for profile pages*/
 .profile-image{
    float: right;
    width:350px;
    border: solid 2px red;
  }
  
 .int-ouFooter .small-print{
 padding-left: 12em;
 }