/*drupal specific styles*/

img {
  border: 0 none;
  display: inline;
  margin: 1em 0;
  height: auto;
}

blockquote {
  display: inline-block;
}

.ou-video-embed {
  width: 368px;
  height: 207px;
}

/*remove top breadcrumb on panel page*/
.node-type-panel #breadcrumb {
  display: none;
}

/*styles for profile pages*/

@media (min-width: 768px) {
  .profile-image{
    float: right;
  }
}

.profile-image img {
  border: 1px solid #ADD0E1;
  margin-bottom: 1em;
  padding: 0.5em;
  margin-left: 1em;
}

/* Styles for webform elements specified classes in template.php */
.ou_webform_radio_set {
}
.ou_webform_radio_single {

}

/*override oembed styles*/

.oembed .oembed-title {
  display: none;
}

.oembed {
  background: none repeat scroll 0 0 #fff;
  border: 0;
  display: block;
  color: #494949;
  float: none;
}


/* This section override styling for Forms elements - these dont seem to be included in the code release of CSS that we have
when this code is available we should be able to remove this section

input[type="radio"] + label:before {
background: url("../../Jwing/assets/img/form-sprites.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
content: "";
display: inline-block;
height: 32px;
margin: -2px 8px 0 -32px;
vertical-align: middle;
width: 32px;
}
input[type="radio"]:checked + label:before, input.checked[type="radio"] + label:before {
background-position: 0 -200px;
}

input[type="radio"] + label:before {
background-position: 0 -150px;
}

input[type="checkbox"] + label:before {
background: url("../../Jwing/assets/img/form-sprites.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
content: "";
display: inline-block;
height: 32px;
margin: -2px 8px 0 -32px;
vertical-align: middle;
width: 32px;
}

input[type="checkbox"] + label:before {
background-position: 0 -250px;
}

input[type="checkbox"]:checked + label:before {
background-position: 0 -300px;
}

.js #int-content .btn-top {
bottom: 0;
}
*/


/*style nations*/

body.wls div.interaction {
  background-color: #d01418 !important;
}
body.wls table td, body.wls table th {
  border-bottom: 1px solid #d01418;
  border-right: 1px solid #d01418;
}
body.wls .int-promo {
  background: #f3ccd6;
  margin-bottom: 2em;
}

body.wls div.interaction {
  background-color: #d01418 !important;
}
body.wls table td, body.wls table th {
  border-bottom: 1px solid #d01418;
  border-right: 1px solid #d01418;
}
body.wls .int-promo {
  background: #f3ccd6;
  margin-bottom: 2em;
}

body.nir div.interaction {
  background-color: #a01851 !important;
}
body.nir table td, body.wls table th {
  border-bottom: 1px solid #a01851;
  border-right: 1px solid #a01851;
}
body.nir .int-promo {
  background: #e0ccd6;
  margin-bottom: 2em;
}

body.ire div.interaction {
  background-color: #a01851 !important;
}
body.ire table td, body.wls table th {
  border-bottom: 1px solid #a01851;
  border-right: 1px solid #a01851;
}
body.ire .int-promo {
  background: #e0ccd6;
  margin-bottom: 2em;
}


/*style the languages switcher*/

body.wls #breadcrumb, body.wls .panel-pane .breadcrumb {
float: left;
width: 75%;
}

body.wls.node-type-panel #switcher{
display: none;
}

.clear{
clear: both;
}

body.wls #switcher {
float: right;
width: 25%;
display: block;
text-align: right;
}

#block-locale-language h2{
display: none;
}

ul.language-switcher-locale-url{
margin-top: 1em;
}

body.wls .panel-pane ul.language-switcher-locale-url{
margin-top: 1em;
float: right;
}

ul.language-switcher-locale-url li{
  display: inline;
  list-style-image: none;
}

ul.language-switcher-locale-url li a{
   background-color: #D01418;
    color: #FFFFFF;
   padding: 0.5em;
}

ul.language-switcher-locale-url li.active {
display: none;
}

form#user-login{
    padding-left: 20%;
}

