ul.menu  {
    border-color: #A6D0FF;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
   
    
	
}

ul.menu li {
	list-style: none outside none;
}


ul.menu li:before {
content: none;
}
.expanded > ul.menu {
	border-color: none;
    border-style: none;
    border-width: none;
    padding: none;
}

.df-grey-header {
    background-color: #F8F8FF;
    background-image: url("../../images/oulogo-56.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #808080;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-top: 20px;
    min-height: 120px;
    padding: 30px;
    width: 80%;
}

.df-header-nav {
	float: right;
}

/*styles for profile pages*/

@media (min-width: 768px) {
.profile-image{
  float: right;
 }
}

.profile-image img {
  border: 1px solid #ADD0E1;
  margin-bottom: 1em;
  padding: 0.5em;
  margin-left: 1em;
}
.alternative-layout {
	background-color:pink;
}