

/*styles for profile pages*/

@media (min-width: 768px) {
  .profile-image{
    float: right;
  }
}

.profile-image img {
  border: 1px solid #ADD0E1;
  margin-bottom: 1em;
  padding: 0.5em;
  margin-left: 1em;
}

/* Styles for webform elements specified classes in template.php */
.ou_webform_radio_set {
}
.ou_webform_radio_single {

}

/* This section override styling for Forms elements - these dont seem to be included in the code release of CSS that we have
when this code is available we should be able to remove this section*/

input[type="radio"] + label:before {
  background: url("../../Jwing/assets/img/form-sprites.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 32px;
  margin: -2px 8px 0 -32px;
  vertical-align: middle;
  width: 32px;
}
input[type="radio"]:checked + label:before, input.checked[type="radio"] + label:before {
  background-position: 0 -200px;
}

input[type="radio"] + label:before {
  background-position: 0 -150px;
}

input[type="checkbox"] + label:before {
  background: url("../../Jwing/assets/img/form-sprites.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 32px;
  margin: -2px 8px 0 -32px;
  vertical-align: middle;
  width: 32px;
}

input[type="checkbox"] + label:before {
  background-position: 0 -250px;
}

input[type="checkbox"]:checked + label:before {
    background-position: 0 -300px;
}

.js #int-content .btn-top {
    bottom: 0; 
   }
   
.alt-layout .int-grid4 {
float: right;
margin-left: 2%;
margin-right: 0;
}

.region-sidebar-second .block-block{
background-color: #e7eff7;
overflow: hidden;
border-bottom: 1px solid #a6d0ff;
padding:1em;
margin-top: 1em;
}

.region-sidebar-second .block-block h2{
text-align: center;
}



blockquote {
    display: inline-block;
}

.ou-video-embed {
    width:368px;
    height: 207px;
}

